
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
$color000000: #000;
$color4d4d4d: #4d4d4d;
$color233000: #233000;
$color5e6600: #5e6600;
$color9caa00: #9caa00;
$ebf0e4: #ebf0e4;
$b0b0b0: #b0b0b0;
$colorffffff: #fff;
$font-family: "Lato", sans-serif;
$third-family: "Inter", sans-serif;
@mixin stylefontz($ff, $fw, $fs, $c){
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    color: $c;
}
@mixin stylcenter($d, $ai, $jc){
    display: $d;
    align-items: $ai;
    justify-content: $jc;
}
.wrapper {
    position: relative;
    background: $color233000;
}
.container {
    max-width: 1710px;
    margin: 0 auto;
    padding: 0 20px;
}
.title {
    @include stylefontz($third-family, 700, 108px, $color000000); 
    line-height: 111%;
}
.text {
    @include stylefontz($third-family, 400, 24px, $color000000); 
    line-height: 140%;
}
.header {
    padding: 47px 20px;
    &__content {
        @include stylcenter(flex, center, space-between);
    }
    &__content-navbar {
        @include stylcenter(flex, center, space-between); 
        gap: 45px;
    }
    &__menu-burger {
        position: relative;
        z-index: 6;
        @include stylcenter(flex, center, space-between); 
        flex-direction: column;
        width: 94px;
        height: 71px;
        padding: 22px 24px;
        span {
            display: block;
            width: 100%;
            height: 2px;
            background: $colorffffff;
        }
        &.active {
            position: absolute;
            top: 35px;
            left: 45px;
            span {
                background: $color000000;
                &:nth-child(1) {
                    transform: translateY(9px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-15px) rotate(-45deg);
                }
    
            }
        }
    }
    &__menu-body {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 5;
        background-image: url(../images/navigation-.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        transform: translateX(-100%);
        left: 0;
        top: 0;
        transition: all 0.3s ease-in;
        &.active {
            transform: translateX( 0%);
        }
    }
    &__body {
        width: 100%;
        padding: 222px 20px;
        @include stylcenter(flex, flex-end, space-between); 
    }
    &__body-item {
        @include stylcenter(flex, flex-start, space-between);
        flex-direction: column;
        gap: 28px;
    }
    &__list-link {
        @include stylefontz($font-family, 700, 66px, $colorffffff); 
    }
    &__body-contact {
        @include stylcenter(flex, flex-start, space-between);
        flex-direction: column;
        gap: 38px;
    }
    &__contanct-name {
        width: 297px;
        @include stylefontz($font-family, 400, 18px, $colorffffff); 
        line-height: 150%;
        padding-bottom: 8px;
        border-bottom: 4px dashed $colorffffff;
    }
    &__contanct-phone {
        @include stylcenter(flex, flex-start, space-between);
        flex-direction: column;
    }
    &__phone-link {
        @include stylefontz($font-family, 400, 18px, $colorffffff); 
        line-height: 139%;
    }
    &__contanct-social {
        width: 164px;
        @include stylcenter(flex, flex-start, space-between);
    }
    &__social-icon {
        list-style: none;
    }
    &__content-left {
        @include stylcenter(flex, center, space-between);
        gap: 26px;
    }
    &__left-phone {
        @include stylefontz($font-family, 400, 26px, $colorffffff);  
    }
    &__left-btn {
        padding: 20px 46px;
        @include stylefontz($third-family, 700, 32px, $colorffffff); 
        line-height: 150%;
        border: 2px solid $colorffffff;
    }
}
.main {
    padding: 209px 0 0;
    margin: 102px 0 240px;
    &__content {
        position: relative;
        @include stylcenter(flex, center, space-between);
    }
    &__content-info {
        @include stylcenter(flex, flex-start, space-between);
        flex-direction: column;
        gap: 50px;
    }
    &__info-title {
        position: relative;
        z-index: 2;
        width: 1054px;
        @include stylefontz($font-family, 700, 148px, $colorffffff);     }
    &__info-text {
        @include stylefontz($font-family, 400, 24px, $colorffffff); 
        line-height: 140%;
    }
    &__info-scrol {
        @include stylcenter(flex, end, space-between);
        height: 562px;
        line-height: 140%;
        transform: rotate(90deg);
        padding-bottom: 27px;
        gap: 18px;
        span {
            border: 2px dashed $colorffffff;
            display: block;
            width: 406px;
        }
    }
    &__scroll-link {
        @include stylefontz($font-family, 400, 48px, $colorffffff); 
    }
    &__content-bg {
        display: block;
        position: absolute;
        right: 0;
        max-width: 792px;
        max-height: 931px;
        margin-left: auto;
        z-index: 0;
    }
    &__bg-big {
        width: 100%;
        &:nth-child(2) {
            position: absolute;
            right: 346px;
            bottom: 0;
        }
    }
}
.info {
    padding-bottom: 225px;
    &__content-wrap {
        @include stylcenter(flex, end, space-between);
        gap: 40px;
    }
    &__wrap-flex {
        max-width: 792px;
        height: 895px;
        @include stylcenter(flex, flex-start, space-between);
        flex-direction: column;
        gap: 54px;  
    }
    &__flex-bg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__flex-name {
        width: 493px;
        @include stylefontz($font-family, 700, 68px, $colorffffff); 
    }
    &__flex-text {
        width: 565px;
        @include stylefontz($font-family, 400, 24px, $colorffffff); 
    }
}
.menu {
    background-image: url(../images/menu-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 176px 0;
    &__content-info {
        width: 532px;
        margin-bottom: 158px;
    }
    &__content-wrap {
        @include stylcenter(flex, center, space-between);
        flex-wrap: wrap;
        gap: 60px;
    }
    &__wrap-flex {
       max-width: 47%;
    }
    &__flex-price {
        display: block;
        max-width: 792px;
        height: 76px;
        text-align: end;
        border-bottom: 4px dashed $color000000;
    }
    &__price-number {
        @include stylefontz($font-family, 700, 48px, $color000000); 
    }
    &__flex-name {
        margin: 24px 0;
        width: 695px;
        @include stylefontz($font-family, 700, 68px, $color000000);
    }
}
.chef {
    padding-top: 222px;
    background-image: url(../images/Chef.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &__content {
        @include stylcenter(flex, Start, space-between);
        gap: 60px;
    }
    &__content-bg {
        width: 935px;
    }
    &__bg-img {
        width: 100%;
        height: 100%;
    }
    &__content-info {
        width: 649px;
    }
}
.features {
    padding: 207px 0 190px;
    &__content-wrap {
        @include stylcenter(flex, center, space-between); 
        gap: 60px;
    }
    &__wrap-flex {
        text-align: center;
    }
    &__flex-bg {
        display: block;
        width: 260px;
        height: 260px;
        margin: 0 auto;
        @include stylcenter(flex, center, center); 
        border-radius: 100%;
        background: $ebf0e4;
    }
    &__flex-name {
        margin: 39px 0;
        @include stylefontz($font-family, 700, 48px, $color000000);
    }
}
.recent {
    padding: 130px 0 105px;
    &__content-wrap {
        @include stylcenter(flex, center, space-between);
        gap: 60px;
    }
    &__wrap-flex  {
        max-width: 47%;
    }
    &__flex-bg {
        max-height: 50%;
        position: relative;
    }
    &__bg-img {
        max-width: 792px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__bg-category {
        position: absolute;
        right: 12px;
        top: 12px;
        padding: 7px 53px;
        box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.08);
        background: #5e6600;
        @include stylefontz($font-family, 700, 26px, $colorffffff);
    }
    &__flex-blog {
        max-width: 587px;
        @include stylcenter(flex, center, space-between);
        span {
            @include stylefontz($font-family, 400, 18px, #5e6600);
        }
    }
    &__body {    
        max-width: 645px;
        margin: 0 auto;
    }
    &__flex-name {
        @include stylefontz($font-family, 400, 48px, $color000000);
        margin: 48px auto 36px;
        padding-bottom: 18px;
        border-bottom: 4px dashed  $color000000;
    }
    &__flex-text {
        margin-bottom: 46px;
        @include stylefontz($font-family, 700, 22px, $color000000);  
    }
    &__flex-btn {
        width: 177px;
        @include stylcenter(flex, center, space-between);
        @include stylefontz($font-family, 400, 24px, $color000000);  
    }
}
.reservation {
    padding: 237px 0 254px;
    background: $ebf0e4; 
    &__content-title {
        text-align: center;
    }
    &__content-text {
        text-align: center;
        margin: 18px 0 133px;
        @include stylefontz($font-family, 400, 24px, $color000000);  
        line-height: 140%;
    }
    &__content-form {
        max-width: 1644px;
        margin: 0 auto 133px;
        @include stylcenter(flex, center, space-between);
        gap: 48px;
    }
    &__form-input {
        border: 2px solid $color000000;
        padding: 30px 40px;
        max-width: 516px;
        height: 96px;
        width: 100%;
        background: transparent;
        @include stylefontz($font-family, 400, 24px, $color000000);  

    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(../images/Vector\ 1\ \(8\).svg);
        background-repeat: no-repeat;
        background-position: right 40px center;
    }
    &__content-btn {
        border: 2px solid var(--000000);
        padding: 20px 46px;padding: 20px 95px;
        @include stylcenter(flex, center, center);
        max-width: 344px;
        margin: 0 auto;
        background: $color233000;
        @include stylefontz($font-family, 400, 24px, $colorffffff);  
    }
}
.category {
    padding: 128px 0 138px;
    &__content-info {
        max-width: 1101px;
        margin: 0 auto 126px;
    }
    &__info-title {
        text-align: center;
    }
    &__info-text {
        text-align: center;
        margin-top: 18px;
    }
    &__content-wrap {
        @include stylcenter(flex, center, space-between);
        flex-wrap: wrap;
        gap: 60px;
    }
    &__wrap-flex {
        position: relative;
        max-width: 47%;
    }
    &__flex-bg {
        max-width: 508px;
        max-height: 710px;
    }
    &__bg-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__flex-top {
        width: 100%;
        height: 100%;
        padding: 48px 40px;
        @include stylcenter(flex, baseline, space-between);
        background: linear-gradient(180deg, rgba(35, 48, 0, 0.2) 0%, rgba(35, 48, 0, 0.2) 100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__top-link {
        @include stylefontz($font-family, 700, 48px, $color233000);  
    }
}
.testimonials {
    padding: 118px 0 142px;
    .swiper {
        @include stylcenter(flex, center, space-between);
    }
    .swiper-slide {
        @include stylcenter(flex, baseline, space-between);
        flex-direction: column;
        gap: 89px;
    }
    &__slide-text {
        width: 1189px;
        position: relative;
        @include stylefontz($font-family, 700, 48px, $color233000);  
        svg {
            position: absolute;
            top: 0;
            right: -153px;
        }
    }
    &__slide-logo {
        @include stylcenter(flex, center, space-between);
        gap: 60px;
    }
    &__info-name {
        @include stylefontz($font-family, 700, 32px, $color233000);
        line-height: 150%;  
    }
    &__info-text {
        @include stylefontz($font-family, 400, 18px, $color233000);
    }
    &__optional {
        @include stylcenter(flex, center, space-between);
        position: absolute;
        right: 370px;
        bottom: 0;
        width: 238px;
        height: 48px;
    }
    .swiper-button-next:after {
        display: none;
    } 
    .swiper-button-prev:after  {
        display: none;
    }
    .swiper-pagination {
        @include stylefontz($font-family, 700, 32px, $color233000);
    }
}
.footer {
    padding: 132px 0 74px;
    background: $color233000;
    &__content {
        @include stylcenter(flex, center, space-between);
        margin-bottom: 137px;
    }
    &__content-logo {
        @include stylefontz($font-family, 700, 68px, $colorffffff);
    }
    &__content-contact {
        height: 231px;
        @include stylcenter(flex, start, space-between);
        flex-direction: column;
    }
    &__contact-name {
        @include stylefontz($font-family, 700, 32px, $colorffffff);
    }
    &__contact-item {
        height: 128px;
        @include stylcenter(flex, start, space-between);
        flex-direction: column;
    }
    &__item-list {
        @include stylcenter(flex, start, space-between);
        flex-direction: column;
    }
    &__lisst-link {
        @include stylefontz($font-family, 400, 18px, $colorffffff);      
        line-height: 139%;
    }
    &__contact-form {
        height: 231px;
        @include stylcenter(flex, start, space-between);
        flex-direction: column;
    }
    &__form-name {
        @include stylefontz($font-family, 700, 32px, $colorffffff);     
    }
    &__form-body {
        width: 792px;
        @include stylcenter(flex, center, space-between);
    }
    &__body-input {
        background: transparent;
        border: 2px solid $colorffffff;
        width: 523px;
        height: 96px;
        padding: 30px 40px;
        @include stylefontz($font-family, 400, 24px, $colorffffff);   
    }
    &__body-btn {
        padding: 20px 46px;
        width: 241px;
        height: 88px;
        @include stylefontz($font-family, 700, 32px, $colorffffff);   
        border: 2px solid $color5e6600;
        background: $color5e6600;
    }
    &__form-text {
        @include stylefontz($font-family, 400, 14px, $colorffffff);   
    }
    &__bottom {
        border-top: 2px dashed $colorffffff;
        padding-top: 58px;
    }
    &__bottom-content {
        @include stylcenter(flex, center, space-between);
    }
    &__bottom-text {
        @include stylefontz($font-family, 400, 24px, $colorffffff);   
    }
    &__bottom-social {
        width: 194px;
        @include stylcenter(flex, center, space-between);
    }
}
// @media (max-width: ;) {
    
// }